@import url('https://fonts.googleapis.com/css?family=Anton|Lato|Roboto|Comfortaa|Montserrat|Varela+Round|Concert+One|Crete+Round|Fjalla+One|Francois+One|Fredoka+One|Hammersmith+One|Patua+One|Poppins|Righteous');

html {
    font-size: calc(0.5em + 1vw); 
}

.jumbotron {
    background: transparent;
    border-top: 1px solid #1cefff;
    margin-top: 2rem;  
}    

.navbar {
    background-color: #1F1C2C;
}

.navbar-brand {
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    margin-top: 0.3rem;
}

/* SERVICES */

.display-4 {
    margin-top: 1rem;     
}

.display-4, .lead {
 text-align: center;
 font-family: 'Varela Round', cursive;
 color: black;
}

p {
    font-size: 1.6rem;
    font-family: 'Concert One', cursive;
    font-weight: bold;
    margin-top: 1rem;  
    color: #ffffff;
    text-align: center;
}

/* iPhone X/6/7/8/plus */
@media screen and (max-width: 450px) {
    p {
        font-size: 0.9rem;
        font-family: 'Concert One', cursive;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
    }
}

h4 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: 'Concert One', cursive;
    font-weight: bold;
}

/* iPhone X/6/7/8/plus */
@media screen and (max-width: 450px) {
    h4 {
        font-size: 0.7rem;
        font-family: 'Concert One', cursive;
        font-weight: bold;
        margin-top: 1rem;  
        color: #FFF;
        text-align: center;
    }
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(181, 228, 255); /* Black fallback color */
    background-color: rgba(209, 255, 251, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    font-family: 'Varela Round', cursive;
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    font-size: 2.3rem;
    color: #1F1C2C;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: rgb(61, 245, 252);;
    background-color: #fff;

}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -0.3rem;
    right: 0.7rem;
    font-size: 3rem;
}

.overlay .closebtn:hover {
  background-color: transparent;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* FOOTER */
footer {
    margin-top: 5rem;
}

.text-uppercase {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 3rem;
    
}

.text-uppercase-logo {
    font-family: 'Comfortaa', cursive;
    color: rgb(240, 20, 130);
    font-size: 3.5rem;
    margin-left: 0.5rem;
    margin-top: 3rem;
}

.footer-container {
    background-color: #1F1C2C;
    font-family: 'Varela Round', cursive;
}


.list-unstyled > li {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 250, 250);
    font-size: 0.7rem;
}

.list-inline {
 margin-left: -1.5rem;
}

a {
    font-size: 0.9rem;
    color: #1cefff;
    font-weight: bold;
}

a:hover {
    color: rgb(240, 20, 130);
    text-decoration: none;
}

.btn-news {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    border: 1px solid #1cefff; 
    border-radius: 0%;
    margin-top: -0.1rem;
    margin-left: 2rem;
    color: rgb(240, 20, 130);
}

.btn-news:hover {
    background-color:#1cefff; 
    color: rgb(167, 1, 84);
}

.footer-copyright {
    font-family: 'Roboto', cursive;
    color: #fff;
    font-size: 0.8rem;
}
