/* Stylesheets are ordered BY THE SECTION */
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Great+Vibes');

html {
    font-size: calc(0.5em + 1vw); 
    width: 100%;
}

body {
    width: 100%;
}

/* NAVIGATION BAR */
.navbar-brand {
    font-family: 'Great Vibes';
    font-size: 1.5em;
    color: black;
    max-width: 100%;
}

/* INFORMATION DISPLAY */
.jumbotron-fluid, .jumbotron {
    background-color: #fff;
    width: 100%;
}

.display-3 {
    margin-top: -20px;
    font-family: 'Great Vibes', cursive;
}

.lead {
    
    text-align: center;
    font-family: 'Arima Madurai', cursive;
}

.my-4, p  {
    text-align: center;
    font-size: 1em;
    font-family: 'Arima Madurai', cursive;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 5em;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

h1 {
    margin-left: 40px;
    font-size: 2.7em;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

.btn-newsletter, .btn-submit {
    font-size: 1.2rem;
}

/* MENU */
.row {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
}

/* CARDS - breakfast, lunch, dinner */

.card {
   border: 0.7px black; 
}

.card-title {
    font-size: 2.4em;
    font-family: 'Great Vibes', cursive;
}

.btn {
    font-family: 'Great Vibes';
    display: inline-block;
    vertical-align: middle;
}

.container-specials {
    width: 100%;
    margin-top: 50px;
}

   
/* COURSES GALLERY */        
.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    margin-top: 20px;
    }
    
    .hovereffect .overlay {
    font-family: 'Great Vibes';
    font-size: 20px;  
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:inline-block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    .hovereffect h5 {
    font-family: 'Great Vibes';  
    color:#fff;
    text-align:center;
    position:relative;
    font-size: 2em;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding: 15px;
    }
    
    .hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    color:#fff;
    border:0.5px ridge #fff;
    border-radius: 45%;
    background-color:transparent;
    opacity:0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 50px 0 0;
    padding: 7px 14px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }
    
    .hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    }
    
    .hovereffect:hover h5,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }

/* GOOGLE MAPS */
#map {
    width: 100%;
    height: 500px;
    background-color: #fff;
  }

/* CONTACT FORM */
form {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right:25%;   
}

.form-group {
    text-align: center;
}

/* ADDRESS */
address, small {
   font-size: 1em;
   font-family: 'Arima Madurai', cursive;
}

h4 {
    font-size: 2.3em;
    margin-left: 20px;
    font-family: 'Great Vibes', cursive;
}

/* SOCIAL MEDIA ICONS */
.social-media-icons {
  text-align: center;
  display: inline-block;
  margin-left: -40px;
  }

li {
    display: inline-block;
    list-style-type: none;
    padding-left: 5px;
}

.fa-facebook-square {
    color: #000;
}

.fa-instagram {
    color: #000;
}

.fa-twitter {
    color: #000;
}

.fa-pinterest {
    color: #000;
}

.fa-snapchat-ghost {
    color: #000;
}

/* ADDRESS, HOURS */
.menu > li {
    display: block;
    font-family: 'Arima Madurai', cursive;
}

.details > li {
    display: block;
    margin-left: -30px;
}

.mr {
    margin-right: 1.5rem;
}

/* RESPONSIVE */

@media only screen and (max-width: 767px) and (min-width: 375px) {
    .container-courses {
     margin-left: 20px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .container-courses {
     margin-left: 30px;
    }
}